<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">Professional</h1>
      <p class="slogan">Professional 是一个服务于咨询行业的招聘网站</br>
        <br>帮你找到更大的发展平台</br>
        <br>实现你的小目标</br>
      </p>
      <p class="lead">
        <%= link_to 'Join In', jobs_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div>


<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">各方合作</h2>
        <h3 class="lead">我们与全球知名咨询公司保持长期紧密的合作，其中有：麦肯锡、罗兰.贝格、埃森哲、毕博、科尔尼、汗普、新华信、博斯智联、德勤及盖洛普等等。</h3>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">优势分析</h2>
        <h3 class="lead">发现自己的优势，放大自己的优势，找到更适合自己的企业！
         <br>通过  <a target="_blank" href="http://www.apesk.com/Advantage-detecting/index_hr.asp?hr_email=18670054561">盖洛普优势识别器理论在线测试</a> 更加了解你自己！
       </h3>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">共同成长</h2>
        <h3 class="lead">找到志同道合的战友们<a target="_blank" href="https://speedread.club/">一起学习</a>，<a target="_blank" href="https://forum.qzy.camp/">一起进步</a>，努力创造出更大的价值，让这个世界变得更加美好！现在加入更有机会获得本站的内推机会，数量有限，先到先得，赶快加入我们吧！
        </h3>
    </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-lg-offset-1 col-sm-push-4  col-sm-4">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">听听他们怎么说：</h2>
      </div>
    </div>
  </div>
</div>

<section id="says">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <%= image_tag '照片1.jpg', class: 'img-responsive' %>
          <div class="caption">
            <h3>“因为Professional，帮我打开了通往世界的大门，马上就快实现我的小目标啦！”</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <%= image_tag '照片2.jpg', class: 'img-responsive' %>
          <div class="caption">
            <h3>“感谢Professioal的推荐，让我进入了梦寐以求的公司，他们的服务真的令人感觉很贴心。”</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <%= image_tag '照片3.jpg', class: 'img-responsive' %>
          <div class="caption">
            <h3>“作为刚刚毕业的学生，通过Professional，让我迅速发现自身的优势，找到了理想的工作！”</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
